body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
    min-height: 100vh;
}

.login-container > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-inline: auto;
    width: 100%;
}

label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
